@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.form {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputField {
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inputArea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
}

/* cardDetails.jsx */

.cardDetailsHome {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  /* border: 2px solid red; */
}

.cardDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  gap: 2em;
  /* border: 2px solid blue; */
  /* height: 100%;
  width: 100%; */
}

/* .cardDetails > img{
  margin-right: 6em;
} */

.cardDetails .img2 {
  margin-left: 6em;
}
.cardDetails h3 {
  font-size: 18px;
  font-weight: 300;
}
.cardDetails img {
  max-width: 100%;
  height: auto;
  border-radius: 14px;
  box-shadow: 2px 2px 21px -6px rgba(0, 0, 0, 0.75);
}

.cardDetails .topArea {
  position: relative;
}

.cardDetails .frontCardDits {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 24px;
}
.cardDetails .frontCardDits h1 {
  font-size: 34px;
  font-weight: 500;
  width: 90%;
}

.cardDetails .frontCardDits .up {
  /* border: 2px solid yellow; */
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
  /* border: 2px solid red; */
}
@media screen and (max-width: 900px) {
  .cardDetails .frontCardDits h1 {
    font-size: 26px;
    font-weight: 400;
    width: 90%;
  }
  .cardDetails h3 {
    font-size: 14px;
    font-weight: 200;
  }
  .cardDetails .frontCardDits .up {
    margin-top: 0.5em;
  }
}

.cardDetails .frontCardDits .up .dates {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.cardDetails .bottomArea {
  position: relative;
}
.cardDetails .backCardDits {
  position: relative;
  /* border: 2px solid yellowgreen; */
}
.cardDetails .backCardDits h3 {
  /* border: 2px solid rgb(102, 138, 31); */
  position: absolute;
  /* bottom: 38%;
  left: 85%; */
  top: 48%;
  left: 85%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: right;
  color: white;
  font-size: 24px;
}

.cardDetails .frontCardDits .up .dates {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.formAreaHome {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* border: 2px solid green; */
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
}

.background .left {
  width: 35%;
  height: 100%;
  background: url("./assets/images/bg-main-desktop.png");
}
.background .right {
  height: 100%;
  background: hsl(0, 0%, 100%);
  width: 65%;
}
